.elements__urn{
    width: 18px;
    height: 19px;
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity .7s;
}

.elements__urn:hover{
    opacity: 0.5;
    cursor: pointer;
}